In [1]:
import pandas as pd
import numpy as np

In [2]:
Hop = pd.read_csv('purchase_data.csv')

In [3]:
Hop.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
TPlayers = Hop.SN.nunique()
TPlayers

576

In [5]:
Num_unit=Hop['Item ID'].nunique()
Num_unit

179

In [6]:
TPlayers = Hop['SN'].nunique()
TPlayers

576

In [7]:
Avg_price = Hop.Price.mean()
Avg_price

3.050987179487176

In [8]:
Num_pur=Hop['Purchase ID'].count()
Num_pur

780

In [9]:
Trev=Hop.Price.sum()
Trev

2379.77

In [10]:
Purchase_analysis=pd.DataFrame ({"Number of Unique Items":[Num_unit],"Average Purchase Price":[Avg_price],
                                 "Total Number of Purchases":[Num_pur], "Total Revenue":[Trev]})

Purchase_analysis

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,3.050987,780,2379.77

In [11]:
Hop1=Hop.groupby('Gender')
Hop1

In [12]:
for Gender, Gender_Hop in Hop1:
    print(Gender)
    
    print(Gender_Hop)

Female
     Purchase ID               SN  Age  Gender  Item ID  \
15            15        Lisassa64   21  Female       98
18            18        Reunasu60   22  Female       82
38            38         Reulae52   10  Female      116
41            41        Assosia88   20  Female        7
55            55        Phaelap26   25  Female       84
..           ...              ...  ...     ...      ...
731          731         Eudanu84   22  Female       12
740          740        Reunasu60   22  Female      127
754          754  Pheosurllorin41   23  Female       79
767          767          Ilmol66    8  Female       92
775          775       Aethedru70   21  Female       60

                        Item Name  Price
15    Deadline, Voice Of Subtlety   2.89
18                        Nirvana   4.90
38        Renewed Skeletal Katana   4.18
41   Thorn, Satchel of Dark Souls   1.33
55                     Arcane Gem   3.79
..                            ...    ...
731                         Dawne   1.02
740  Heartseeker, Reaver of Souls   3.92
754           Alpha, Oath of Zeal   4.05
767                  Final Critic   4.88
775                          Wolf   3.54

[113 rows x 7 columns]
Male
     Purchase ID             SN  Age Gender  Item ID  \
0              0        Lisim78   20   Male      108
1              1    Lisovynya38   40   Male      143
2              2     Ithergue48   24   Male       92
3              3  Chamassasya86   24   Male      100
4              4      Iskosia90   23   Male      131
..           ...            ...  ...    ...      ...
774          774     Jiskjask80   11   Male       92
776          776         Iral74   21   Male      164
777          777     Yathecal72   20   Male       67
778          778        Sisur91    7   Male       92
779          779      Ennrian78   24   Male       50

                                     Item Name  Price
0    Extraction, Quickblade Of Trembling Hands   3.53
1                            Frenzied Scimitar   1.56
2                                 Final Critic   4.88
3                                  Blindscythe   3.27
4                                         Fury   1.44
..                                         ...    ...
774                               Final Critic   4.19
776                           Exiled Doomblade   1.63
777      Celeste, Incarnation of the Corrupted   3.46
778                               Final Critic   4.19
779                                       Dawn   4.60

[652 rows x 7 columns]
Other / Non-Disclosed
     Purchase ID            SN  Age                 Gender  Item ID  \
9              9   Chanosian48   35  Other / Non-Disclosed      136
22            22  Siarithria38   38  Other / Non-Disclosed       24
82            82    Haerithp41   16  Other / Non-Disclosed      160
111          111      Sundim98   21  Other / Non-Disclosed       41
228          228   Jiskirran77   20  Other / Non-Disclosed       80
237          237     Idairin51   20  Other / Non-Disclosed       16
242          242     Eodaisu60   16  Other / Non-Disclosed       39
291          291     Idairin51   20  Other / Non-Disclosed       35
350          350     Rairith81   15  Other / Non-Disclosed       34
401          401      Lirtim36   15  Other / Non-Disclosed       46
484          484   Chanosian48   35  Other / Non-Disclosed       39
549          549    Maluncil97   25  Other / Non-Disclosed      146
629          629    Maluncil97   25  Other / Non-Disclosed      107
637          637        Airi27   24  Other / Non-Disclosed      163
747          747  Siarithria38   38  Other / Non-Disclosed      146

                                Item Name  Price
9            Ghastly Adamantite Protector   3.58
22                          Warped Fetish   3.81
82                             Azurewrath   4.40
111                                 Orbit   4.75
228                             Dreamsong   3.39
237                       Restored Bauble   3.55
242  Betrayal, Whisper of Grieving Widows   3.94
291              Heartless Bone Dualblade   3.45
350                       Retribution Axe   2.22
401               Hopeless Ebon Dualblade   1.33
484  Betrayal, Whisper of Grieving Widows   3.94
549                  Warped Iron Scimitar   3.10
629             Splitter, Foe Of Subtlety   2.18
637                  Thunderfury Scimitar   3.45
747                  Warped Iron Scimitar   3.10

In [13]:
Hope3=Hop1.SN.nunique()
Hope3

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [14]:
Hope3_pc=round(Hope3/TPlayers*100, 2)
Hope3_pc

Gender
Female                   14.06
Male                     84.03
Other / Non-Disclosed     1.91
Name: SN, dtype: float64

In [15]:
Gender_Demo=pd.Series({"Count players":[Hope3], "Percentage players":[Hope3_pc]})
Gender_Demo

Count players                [[81, 484, 11]]
Percentage players    [[14.06, 84.03, 1.91]]
dtype: object

In [16]:
Gender_Demo.to_frame()

                                         0
Count players              [[81, 484, 11]]
Percentage players  [[14.06, 84.03, 1.91]]

In [17]:
Maledf= Hop1.get_group('Male')
Maledf.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [18]:
Femaledf=Hop1.get_group('Female')
Femaledf.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79

In [19]:
Otherdf=Hop1.get_group('Other / Non-Disclosed')
Otherdf.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

In [20]:
PurcMale= Maledf['Purchase ID'].count()
PurcMale

652

In [21]:
c=Femaledf['Purchase ID'].count()
PurcFemale

113

In [22]:
PurcOther=Otherdf['Purchase ID'].count()
PurcOther

15

In [23]:
Avg_PurMale=Maledf['Price'].mean()
Avg_PurMale

3.0178527607361953

In [24]:
Avg_PurFemale=Femaledf['Price'].mean()
Avg_PurFemale

3.203008849557519

In [31]:
Avg_Other=Otherdf['Price'].mean()
Avg_Other

3.3460000000000005

In [44]:
TpurcValM=Maledf['Price'].sum()
TpurcValM

1967.64

In [48]:
TpurcValF=Femaledf['Price'].sum()
TpurcValF

361.94

In [49]:
TpurcValO=Otherdf['Price'].sum()
TpurcValO

50.19

In [52]:
AvgPurTotM=Maledf['Purchase ID'].mean()
AvgPurTotM

392.51687116564415

In [53]:
AvgPurTotF=Femaledf['Purchase ID'].mean()
AvgPurTotF

379.3805309734513

In [62]:
AvgPurtotO=Otherdf['Purchase ID'].mean()
AvgPurtotO

334.6

In [66]:
Gender_purch_analysis=pd.DataFrame({"Number of purchase": [PurcMale, PurcMale, PurcOther], 
                                    "Average purchase price": [Avg_PurMale, Avg_PurFemale, Avg_Other], 
                                    "Total purchase value":[TpurcValM, TpurcValF, TpurcValO],
                                    "Average purchase total":[AvgPurTotM, AvgPurTotF, AvgPurtotO]},
                                   columns=['Number of purchase', 'Average purchase price', 
                                            'Total purchase value', 'Average purchase total'],
                                   index=['Male', 'Female', 'Other'])
Gender_purch_analysis

,Number of purchase,Average purchase price,Total purchase value,Average purchase total
Male,652,3.017853,1967.64,392.516871
Female,652,3.203009,361.94,379.380531
Other,15,3.346000,50.19,334.600000

In [70]:
bins=[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
age_range=['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40-44', '45-49']

In [71]:
Hop['age_range']=pd.cut(Hop['Age'], bins, labels=age_range)

In [72]:
Hop4=Hop.groupby('age_range')

In [73]:
PurcCounage=Hop4['SN'].nunique()
PurcCounage

age_range
<10        0
10-14     24
15-19     41
20-24    150
25-29    232
30-34     59
35-39     37
40-44     26
45-49      7
Name: SN, dtype: int64

In [77]:
pur_agepc= PurcCounage/TPlayers*100
pur_agepc

age_range
<10       0.000000
10-14     4.166667
15-19     7.118056
20-24    26.041667
25-29    40.277778
30-34    10.243056
35-39     6.423611
40-44     4.513889
45-49     1.215278
Name: SN, dtype: float64

In [78]:
Avg_PurPrice=Hop4['Price'].mean()
Avg_PurPrice

age_range
<10           NaN
10-14    3.405000
15-19    2.900000
20-24    3.107800
25-29    3.020431
30-34    2.875584
35-39    2.994423
40-44    3.404545
45-49    3.075714
Name: Price, dtype: float64

In [79]:
Total_PurVal=Hop4['Price'].sum()
Total_PurVal

age_range
<10        0.00
10-14    108.96
15-19    156.60
20-24    621.56
25-29    981.64
30-34    221.42
35-39    155.71
40-44    112.35
45-49     21.53
Name: Price, dtype: float64

In [82]:
Top_Spenders=Hop.groupby('SN')
Top_Spenders

In [83]:
PurCountSN=Top_Spenders['Purchase ID'].count()
PurCountSN

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Purchase ID, Length: 576, dtype: int64

In [85]:
Avg_PurPriceSN=Top_Spenders['Price'].mean()
Avg_PurPriceSN

SN
Adairialis76     2.280000
Adastirin33      4.480000
Aeda94           4.910000
Aela59           4.320000
Aelaria33        1.790000
                   ...
Yathecal82       2.073333
Yathedeu43       3.010000
Yoishirrala98    4.580000
Zhisrisu83       3.945000
Zontibe81        2.676667
Name: Price, Length: 576, dtype: float64

In [86]:
Total_Purc_ValueSN= Top_Spenders['Price'].sum()
Total_Purc_ValueSN

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [91]:
TopSpender_Analysis=pd.DataFrame({"Purchase Count":PurCountSN, "Average Purchage Price": Avg_PurPriceSN, 
                                   "Total Purchase Value": 
                                  Total_Purc_ValueSN}).sort_values(["Total Purchase Value"],ascending=False)
TopSpender_Analysis.head()

             Purchase Count  Average Purchage Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

In [106]:
MostPop_Items= Hop.groupby(['SN'])
MostPop_Items

In [107]:
ItemID=MostPop_Items['Item ID'].count()
ItemID

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Item ID, Length: 576, dtype: int64

In [108]:
ItemName=MostPop_Items['Item Name'].count()
ItemName

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Item Name, Length: 576, dtype: int64

In [110]:
PurchCount=MostPop_Items['Purchase ID'].count()
PurchCount

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Purchase ID, Length: 576, dtype: int64

In [111]:
TotalPurchVal= MostPop_Items['Price'].sum()
TotalPurchVal

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64